.venv/
BACKUP/
Results/
Analog Landscape/OLD/
Digital Landscape/quantum/
Digital Landscape/Cluster_Results/
Digital Landscape/Results/
Analog Landscape/BATCH_TEMPLATE.sbatch
Analog Landscape/instructions.txt
Analog Landscape/Results